.vs/
.vscode/
AAEmu.Commons/obj/
AAEmu.Game/obj/
AAEmu.Stream/obj/

.idea/
AAEmu.Commons/bin/
AAEmu.Game/bin/
AAEmu.Login/bin/
AAEmu.Login/obj/
AAEmu.Game/Config.json
AAEmu.Login/Config.json
publish/
*.old
/AAEmu.Commons/Cryptography/DecryptCS0.cs
/AAEmu.Commons/Cryptography/DecryptCS1.cs
